
body {
  background-color : #7d7abc;
}

select{
  
  height: 67px;
width: 297px;
left: 571px;
top: 889px;
border-radius: 0px;

  
  background: #23F0C7;
}

#JokeText {
  width: 1230px;
  height: 100px;
      top: 10;
      left: 105px;

background: #EF767A;
border-radius: 100px;
}