
body {
  background-color : #7d7abc;
}

select{
  
  left: 38.06%;
  right: 41.32%;
  top: 86.82%;
  bottom: 6.64%;
  
  background: #23F0C7;
}

#JokeText {
  width: 1230px;
  height: 100px;
      Top: 10;
      Left: 105px;

background: #EF767A;
border-radius: 100px;
}